[data]

root = /home/ices/work/tgsc3d/data

train_data_path = ${root}/train_validate.npy
test_data_path = ${root}/test.npy

; three normalizers 'std', 'minmax01', and 'minmax11'
nomalizer = minmax01

; input image size
height = 73
width = 125

; encoder image size
img_height = 19
img_width = 32

validate_ratio = 0.15
validate_random_state = 0


[model]
device = cuda
num_gpus = 2

; # of stacked TLS-ConvLSTM layers
n_layers = 2

; how many weather to input
in_channel = 4
; how many weather to compute loss
out_channel = 3

; input time length
input_len = 8

; forecast time length
output_len = 8

;time step interval
step_interval = 3

; time chunk interval 
chunk_interval = 1

kernel_size = 3
padding = 1
hidden_dim = 60
node_embed_dim = 64
downsample = True

batch_size = 48
test_batch_size = 48
learning_rate = 0.001
epochs = 200
patient = 50

; for testing
is_train = True
; if is_train is true, the model_save_folder will be recognize as retrain folder
; if is_train is false, the model_save_folder will be recognize as test folder
model_save_folder = save-20231013_170912_986399

